target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

*.log

## maven publishing
pom.xml.releaseBackup
release.properties
notes.txt

# sometimes IntelliJ will add this file to CWD when running a test.
# Please, IntelliJ, do not ask me to add this externally added file to git.  Thanks.
.attach_pid*

.gradle
